<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<script src="https://kit.fontawesome.com/9527217b69.js" crossorigin="anonymous"></script>
  	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	
  	<link rel="stylesheet" type="text/css" href="/stylesheets/estilos.css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
    <footer>
      
	  </footer>
  <script type="text/javascript" src="/javascripts/cineris.js"></script>
  </body>
</html>
